*{
 font-size: 20px;
}

.myclass{
  color:red;
}

#myid{
 background-color:green;
}


[href="https://www.boltiot.com"]{
 color:red;
}

h1, div{
 color:blue;
}

.family-line span{
  color:blue;
}

.first-div{
  height: 200px;
  border:1px solid red;
  padding: 50px;
}

div{
 width:200px;

}